@import '../../../variable';

header {
  .sidenav {
    width: 200px;
  }

  ::ng-deep .mat-drawer-transition .mat-drawer-backdrop {
    position: fixed;
  }

  mat-toolbar {
    height: 100%;
    background-color: white;
    position: relative;
    padding: 0 12%;
    .logo_part {
      img {
        width: 100px;
        height: 100px;
        vertical-align: middle;
      }
    }

    .links_part {
      font-size: 21px;
      @include main_gradient;
    }
    .language_part {
      @include main_gradient;
      cursor: pointer;
      text-transform: capitalize;

      fa-icon {
        margin-left: 5px;
        margin-top: 4px;
        font-size: 16px;
      }
    }
  }
}

::ng-deep .cdk-overlay-pane {
  background-color: white;
  .mat-menu-panel {
    min-width: auto !important;
    min-height: auto !important;
    @include main_gradient;

    .mat-menu-content:not(:empty) {
      padding: 0 !important;

      .language_list_div {
        padding: 7px;
        cursor: pointer;

        img {
          width: 25px;
          margin-right: 10px;
        }

        .lang_text {
          text-transform: capitalize;
        }
      }
    }
  }
}
