<div
  class="assortment_container"
  fxLayout="row wrap"
  fxLayoutGap="50px"
  fxLayoutGap.lt-lg="0px"
  fxLayoutAlign="center center"
>
  <div
    class="assortment_parent_div"
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngFor="let item of assormentsArray"
  >
    <div class="assortment_img_div">
      <ng-image-slider
        [images]="item.imageObject"
        [infinite]="false"
        [imageSize]="{ width: '100%', space: 0 }"
      ></ng-image-slider>
    </div>

    <div class="assortment_name">
      <h4>
        {{ (currentLanguage$ | async) === 'am' ? item.amTitle : item.enTitle }}
      </h4>
    </div>

    <div class="assortment_description">
      <p [ngClass]="{ readmore: item.selected }">
        {{
          (currentLanguage$ | async) === 'am'
            ? item.amDescription
            : item.enDescription
        }}
      </p>
    </div>
    <button (click)="item.selected = !item.selected">
      {{
        item.selected
          ? ('COMMON.READLESS' | translate)
          : ('COMMON.READMORE' | translate)
      }}
    </button>
    <div class="assortment_price">
      <span
        >{{ item.price }} {{ 'HOME.ASSORTMENTS.CURRENCY' | translate }}</span
      >
    </div>
  </div>
</div>
