// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$speakforfun-primary: mat-palette($mat-indigo);
$speakforfun-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$speakforfun-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$speakforfun-theme: mat-light-theme(
  $speakforfun-primary,
  $speakforfun-accent,
  $speakforfun-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($speakforfun-theme);

/* You can add global styles to this file, and also import other style files */
@import 'variable';
* {
  margin: 0;
  padding: 0;
  outline: none;
}
// @font-face {
//   font-family: Cormorant-italic;
//   src: url('./assets/fonts/Cormorant-Italic.ttf');
// }

html,
body {
  font-family: Cormorant-italic;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 31px;
  color: #000;
  letter-spacing: 0;
  height: 100%;
}

.selected_language {
  border: 1px solid $main_yellow_color;
}

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font-family: Cormorant-italic;
}

ul {
  list-style: none;
  li {
    cursor: pointer;
  }
}

.active {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
