@import '../../../../variable.scss';

.admin_login_container {
  background-color: white;
  margin: auto;
  min-height: calc(100% - 371px);
  width: 1280px;
  @include for-size(lgm) {
    width: 1200px;
  }
  @include for-size(md) {
    width: 900px;
  }
  @include for-size(sm) {
    width: 600px;
  }
  @include for-size(lt-sm) {
    width: 100%;
  }
}
